.timezone {
  text-align: center;
  padding: 10em 1em;
  flex-grow: 1;
  font-family: sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray transparent lightgray lightgray;

  .zoneTime {
    font-weight: 400;
    font-size: 5em;
    margin: 0 0 0.5em 0;
  }

  .zoneName {
    font-weight: 400;
    font-size: 1.5em;
    margin: 0.5em 0;
  }

  .zoneDate {
    text-transform: uppercase;
    color: grey;
    margin: 0.5em 0;
  }
}
